.oneNotification{
    border: 0.2px solid #d6d6d69f !important;
    padding: 10px;
}

.logoOneoneNotification{
    height:45px !important;
    width:45px !important;
    color:#5e2e7e !important;
}

.notification_Content{
    color: #a0a0a0c7;
    font-weight: 200 !important;
}

