.userName{
    font-size:14px  !important;
    color: #cec9c9 !important;
}

.name{
    font-size:18px  !important;
    font-weight: bold !important;
}

.post_header_info{
    display: flex !important;
    gap: 12px !important;
    align-items: center !important;
    justify-content: center !important;
}

.cardImg{
  padding: 20px;
}

.container_btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nbrOfinteraction{
    color: #1DA1F2;
    font-size: small;
}

.postFormContainer{
    display: flex !important;
    flex-direction: row !important;
    gap: 10px !important;
    margin-left: 14px !important;
    padding-top:20px !important;
    padding-bottom: 15px !important;
}

.FormContainer{
    width:100%;
    margin-right: 24px !important;
}