.sideBar{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


.tweetButton{
    margin-top:10px !important;
    height: fit-content !important;
}


.slimSideBar{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: max-content;
    align-items: center;
    justify-content: end;
    margin-left: auto;
}

